src/main/resources/com/github/stinkbird/helpspot/private_api/response_for/request/subscriptions/private_request_subscriptions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="subscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="request"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="xRequest"/>
        <xs:element ref="xSubscriptions"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xRequest" type="xs:integer"/>
  <xs:element name="xSubscriptions" type="xs:integer"/>
</xs:schema>
