src/main/resources/com/github/stinkbird/helpspot/private_api/response_for/request/get_status_types/private_request_get_status_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="results">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="status"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="status">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sStatus"/>
        <xs:element ref="xStatus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sStatus" type="xs:string"/>
  <xs:element name="xStatus" type="xs:integer"/>
</xs:schema>
